.btn {
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: darken($color: $warning, $amount: 10%);
  opacity: $opacity;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;

  // add transparency to the button

  &:hover {
    background-color: darken($color: $warning, $amount: 12%);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
}
