<template>
  <div class="d-flex justify-center">
    <button class="btn" @click="$emit('saveCountryToLocalStorage')">
      Save
    </button>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
