.weather {
  text-transform: capitalize;
  color: lighten($color: #000, $amount: 80%);

  .weather__condition {
    text-align: center;
    font-size: 2rem;
  }

  .weather__image {
    display: flex;
    justify-content: center;

    img {
      height: 10rem;
    }
  }

  .weather__temperature {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .weather {
    font-size: 12px;
    padding-bottom: 1rem;

    .weather__condition {
      text-align: center;
      font-size: 1rem;
    }

    .weather__image {
      display: flex;
      justify-content: center;

      img {
        height: 5rem;
      }
    }
  }
}
