<template>
  <div>
    <div v-if="countryWeather" class="weather">
      <div class="weather__country text-center fs-7 text-warning fw-bold">
        <span>
          {{ countryWeather.name }} <i class="fa-solid fa-globe"></i
        ></span>
      </div>
      <div class="weather__condition">
        {{ countryWeather.weather[0].description }}
      </div>
      <div class="weather__image">
        <img
          :src="`http://openweathermap.org/img/wn/${countryWeather.weather[0].icon}@2x.png`"
          alt="clouds"
        />
      </div>
      <div class="d-flex justify-center">
        <div class="weather__temperature">{{ degree }} &deg;C</div>
      </div>

      <div class="d-flex justify-between mb-3 fw-bold fs-5">
        <span>Humidity</span>
        <span
          >{{ countryWeather.main.humidity }}% <i class="fa-solid fa-water"></i
        ></span>
      </div>
      <div class="d-flex justify-between fw-bold fs-5">
        <span>Wind speed</span>
        <span
          >{{ countryWeather.wind.speed }}m/s <i class="fa-solid fa-wind"></i
        ></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["countryWeather"],

  computed: {
    degree() {
      let deg =
        this.countryWeather &&
        this.countryWeather.main &&
        this.countryWeather.main.temp
          ? this.countryWeather.main.temp
          : "-";

      return isNaN(deg) ? "-" : Math.round(deg);
    },
  },
};
</script>
