.custom-select {
  position: relative;
  width: 100%;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  color: white;
}

.custom-search-icon {
  margin-left: -30px;
  cursor: pointer;
  color: white;
}

.country-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 1000;
  margin-top: -1px;
  padding: 0;
  list-style: none;
  background-color: rgba(62, 62, 62, 0.65);
}

.country-item {
  padding: 10px;
  cursor: pointer;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-arrow__icon {
  font-size: 1rem;
  color: #333;
}

.country-list::-webkit-scrollbar {
  width: 8px;
}

.country-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.country-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
