<template>
  <div class="custom-select" @click.stop>
    <div class="search-wrapper">
      <input
        type="text"
        v-model="searchQuery"
        @input="filterCountries"
        @focus="showCountryList"
        placeholder="Search country"
        class="custom-input"
      />
      <span class="custom-search-icon" @click="toggleCountryList">
        <i class="fa-solid fa-search"></i>
      </span>
    </div>
    <ul v-if="showList && filteredCountries.length" class="country-list">
      <li
        v-for="country in filteredCountries"
        :key="country.code"
        @click="selectCountry(country.name)"
        class="country-item"
      >
        {{ country.name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["countries"],

  data() {
    return {
      selectedCountry: null,
      searchQuery: "",
      filteredCountries: this.countries,
      showList: false,
    };
  },

  methods: {
    filterCountries() {
      const query = this.searchQuery.toLowerCase();
      this.filteredCountries = this.countries.filter((country) =>
        country.name.toLowerCase().includes(query)
      );
      this.showList = true;
    },

    selectCountry(countryName) {
      this.selectedCountry = countryName;
      this.searchQuery = countryName;
      this.showList = false;
      this.$emit("selectedCountry", this.selectedCountry);
    },

    showCountryList() {
      this.showList = true;
    },

    toggleCountryList() {
      this.showList = !this.showList;
    },

    handleClickOutside(event) {
      if (!this.$el.contains(event.target)) {
        this.showList = false;
      }
    },
  },

  mounted() {
    document.addEventListener("click", this.handleClickOutside);
  },

  beforeDestroy() {
    document.removeEventListener("click", this.handleClickOutside);
  },
};
</script>
