<template>
  <div class="container d-flex align-center justify-center">
    <div class="content">
      <div class="card">
        <div class="card-header">
          <Alert v-if="showAlert" msg="Country saved" />
          <h2 v-if="!countryWeather" class="text-center">Weather today</h2>
          <h2 v-else class="text-center">{{ countryWeather.name }}</h2>
          <div class="custom-form">
            <Select
              :countries="countries"
              @selectedCountry="selectedCountry = $event"
            />
          </div>
        </div>

        <div v-if="countryWeather" class="card-body">
          <Weather :countryWeather="countryWeather" />
          <Button @saveCountryToLocalStorage="saveCountryToLocalStorage" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import countries from "./countries.json";
import Weather from "./components/Weather";
import Select from "./components/shared/Select";
import Button from "./components/shared/Button";
import Alert from "./components/shared/Alert";
export default {
  name: "App",

  components: { Select, Button, Alert, Weather },

  data() {
    return {
      countries,
      selectedCountry: null,
      countryWeather: null,
      error: null,
      showAlert: false,
    };
  },

  watch: {
    selectedCountry(newValue) {
      this.getWeather(newValue);
    },
  },

  methods: {
    saveCountryToLocalStorage() {
      localStorage.setItem("weather", JSON.stringify(this.countryWeather));
      this.showAlert = true;
      setTimeout(() => {
        this.showAlert = false;
      }, 2000);
    },

    async getWeather(val) {
      fetch(`/.netlify/functions/fetchWeather?country=${val}`)
        .then((res) => res.json())
        .then((data) => {
          this.countryWeather = data;
        })
        .catch(() => {
          this.error = "Weather not found";
        });
    },
  },

  mounted() {
    const weather = localStorage.getItem("weather");
    if (weather) {
      this.countryWeather = JSON.parse(weather);
      this.getWeather(this.countryWeather.name);
    }
  },
};
</script>
