.card {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(62, 62, 62, 0.65);
  height: 100%;
  width: 20%;
  // background-color: white;
  color: #fff;
  min-width: 500px;

  .card-body {
    padding: 1rem;
    height: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 100%;
  }
}
