// import variables
@import "variables";

.container {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-arround {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.custom-input {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

// Define sizes
$sizes: (
  0: 0px,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 40px,
  7: 48px,
  8: 56px,
  9: 64px,
  10: 72px,
);

// Mixin for margin
@mixin margin($size, $value) {
  .m-#{$size} {
    margin: $value;
  }
  .mt-#{$size} {
    margin-top: $value;
  }
  .mr-#{$size} {
    margin-right: $value;
  }
  .mb-#{$size} {
    margin-bottom: $value;
  }
  .ml-#{$size} {
    margin-left: $value;
  }
  .mx-#{$size} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$size} {
    margin-top: $value;
    margin-bottom: $value;
  }
}

// Mixin for padding
@mixin padding($size, $value) {
  .p-#{$size} {
    padding: $value;
  }
  .pt-#{$size} {
    padding-top: $value;
  }
  .pr-#{$size} {
    padding-right: $value;
  }
  .pb-#{$size} {
    padding-bottom: $value;
  }
  .pl-#{$size} {
    padding-left: $value;
  }
  .px-#{$size} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$size} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

// Generate margin classes
@each $size, $value in $sizes {
  @include margin($size, $value);
}

// Generate padding classes
@each $size, $value in $sizes {
  @include padding($size, $value);
}

// Define font sizes
$font-sizes: (
  1: 0.75rem,
  // 12px
  2: 0.875rem,
  // 14px
  3: 1rem,
  // 16px
  4: 1.125rem,
  // 18px
  5: 1.25rem,
  // 20px
  6: 1.5rem,
  // 24px
  7: 1.75rem,
  // 28px
  8: 2rem,
  // 32px
  9: 2.5rem,
  // 40px
  10: 3rem // 48px,,,,,,,,,,
);

// Mixin for font size
@mixin font-size($size, $value) {
  .fs-#{$size} {
    font-size: $value;
  }
}

// Generate font size classes
@each $size, $value in $font-sizes {
  @include font-size($size, $value);
}

$colors: (
  white: $white,
  success: $success,
  secondary: $secondary,
  danger: $danger,
  warning: $warning,
);

// Mixin for text color
@mixin text-color($name, $color) {
  .text-#{$name} {
    color: $color;
  }
}

// Generate text color classes
@each $name, $color in $colors {
  @include text-color($name, $color);
}

$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);

// Mixin for font weight
@mixin font-weight($name, $weight) {
  .fw-#{$name} {
    font-weight: $weight;
  }
}

// Generate font weight classes
@each $name, $weight in $font-weights {
  @include font-weight($name, $weight);
}
