body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .content {
    margin-top: 1rem;
  }
}

@import "variables.scss";
@import "utils.scss";
@import "card.scss";
@import "../../components/Weather/weather";
@import "../../components/shared/Select/customSelect";
@import "../../components/shared/Button/button";
@import "../../components/shared/Alert/alert";
